.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
    display: none;
}

.ant-upload.ant-upload-select {
    width: 100%;
}

#map-container>div {
    width: 100% !important;
    height: 100% !important;
}

.register-page-container .ant-steps {
    display: none !important;
}

.map-container {
    width: 100%;
    height: 100% !important;
    min-height: 350px;
}

.table-row :hover {
    cursor: pointer;
}

.custom-form .ant-form-item-control-wrapper {
    width: 100%;
}

.custom-form .ant-form-item-label, .custom-label {
    font-weight: bold;
}

.custom-form .ant-form-item {
    display: flex !important;
    align-items: center;
}

.custom-form .ant-input {
    border: none;
    border-radius: 0px;
}

.custom-form .ant-input:focus {
    border-bottom: 1px solid #40a9ff;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom-form .ant-select-selection {
    border: none;
    border-radius: 0px;
}

.nullable-map-container>div {
    height: 100%;
    cursor: pointer !important;
}

.ant-card-meta-description {
    height: 30px!important;
}

#nullable-map-container .overlays .nav {
    z-index: 99;
}

.overlays .nav {
    z-index: 99;
}

.map-loader .ant-spin-dot.ant-spin-dot-spin {
    margin-left: 50%;
    margin-top: 300px;
    display: flex;
}