#nullable-map-container .overlays .nav {
    z-index: 800;
}

.ant-carousel .slick-slide {
    text-align: center;
    line-height: 100px;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

.ant-carousel .slick-dots li {
    background: #364d79;
}

.custom-image img {
    display: block;
}

.custom-card {
    padding: 10px 16px;
    flex-wrap: wrap;
}

.custom-card p {
    color: #999;
    flex-wrap: wrap;
}

.ant-modal-title {
    text-align: center;
}

.ant-card-body {
    padding: 0px !important;
    flex-wrap: wrap !important;
}

.ant-card-meta-description {
    margin-bottom: 8px;
    margin-right: 5%;
    margin-left: 5%;
    height: 90px;
}

.ant-card-meta-detail>div:not(:last-child) {
    margin-bottom: 8px;
    margin-top: 10px;
    margin-right: 5%;
    margin-left: 5%;
}

.mr-interactive-selection {
    z-index: 13000 !important;
}

.wrap-label .ant-form-item-label {
    padding: 4px 0 !important;
}

.wrap-label .ant-form-item-label label {
    white-space: normal;
    margin-right: 12px;
    display: inline-block;
    text-align: left;
    line-height: 16px;
    width: 100%;
}

.wrap-label .ant-form-item-label label:after {
    content: none !important;
}

.wrap-label .ant-form-item-label label.ant-form-item-required:before {
    position: absolute;
    left: -7px;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
    display: none;
}