.timeline {
    text-align: center;
    border-top: 3px solid;
    border-image: linear-gradient(to right, lightskyblue 0%, cornflowerblue 100%);
    border-image-slice: 1;
    margin: 0;
    padding: 30px;
}

.timeline:nth-child(even) {
    border-left: 3px solid;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px;
    padding-right: 0;

}

.timeline:nth-child(odd) {
    border-right: 3px solid;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px;
    padding-left: 0;
}

.timeline:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.timeline:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}